---
import { Font } from "astro:assets";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en" class="scroll-pt-17 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-inter" preload />
    <title>Lumos - Digital Agency</title>
    <meta
      name="description"
      content="Lumos is a digital agency specializing in web design, development, and digital marketing. We create innovative solutions to help businesses thrive in the digital world."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  </head>
  <body
    class="bg-white font-sans leading-tight tracking-tight text-black antialiased"
  >
    <div class="flex min-h-svh flex-col">
      <Header />
      <div class="flex-1">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
